// -------manu css-------------

.manu-header{
    background: #ff8a65;
    color: #fff;
}

.manu-bar{
    color: #fff;
}
.info-btn{
    font-size: 20px;
    color: #fff;
    z-index: 99;
    display: block;
    float: right;
    padding-right: 3%;
    position: relative;
    cursor: pointer;
}

// ---------end manu css-----------

.logo-img img{
    width: 50%;
    margin: 35px auto;

}

hr {
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    width: 50%;
    border-top: 2px solid #ff8a65;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.user-profile { 
width:100%;
padding: 0 20px;
display: flex;
}

.user-profile img{ width: 100px;
height: 100px;
border-radius: 50%; margin-right: 15px;
}
.user-profile h3{
    font-size: 20px;
}
.user-profile p{
    font-size:14px;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.frm .item-inner{
    border-bottom: 2px solid #180d52!important;
    padding-left: 10px;
}

.frm-part{
    display: flex;
}

.frm-part2{
    padding-left: 16px;
}

.box{
    width: 40%;
}

.profile-box h4{
    margin-top: 0!important;
}

.profile-box p{
    font-size: 14px!important;
    
}


.forgot{
    text-align: left;
    color: #000!important;
    padding-top: 20px;
    font-size: 12px;
}

.regi{
    text-align: right;
    float: right;
}

.forgot a{
    
    color: #180d52!important;
    
} 

.info-frm{
    padding-left: 10px!important;
}

.sing-btn{
    background: #ff8a65!important;
    color: #fff;
    width: 100%;
    padding: 1rem 0;
}

