<ion-header>
  <ion-toolbar class="my-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Reset Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <form  [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <div padding class="profile-box">

            <ion-item class="form-group frm">
              <!-- <span><i class="fa fa-lock"></i></span> -->
              <ion-input type="password" class="info-frm" id="oldpassword" formControlName="oldpassword" placeholder="Old Password" ></ion-input>
            </ion-item>

            <ion-item class="form-group frm">
              <ion-input type="password" class="info-frm" id="newpassword" formControlName="newpassword" placeholder="New Password" ></ion-input>
            </ion-item>

            <ion-item class="form-group frm">
              <ion-input type="password" class="info-frm" id="confpassword" formControlName="confpassword" placeholder="Confirm Password" ></ion-input>
            </ion-item>

          </div>
    
          <div padding>
            <button type="submit" size="large" expand="block" class="btn sing-btn">Reset</button>
          </div>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>