<ion-header>
  <ion-toolbar class="my-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button class="manu-bar"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Order ID: {{order_id}}
      <span style="float: right;" (click)="moveCart()">
        <i class="fa fa-shopping-cart"></i>
        <div *ngIf="cart_number != 0" class="numberCircle">{{cart_number}}</div>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div padding class="profile-box">
      <h5>Total Amount: <span class="price">{{total_amount | currency:'INR':true:'1.2-2'}}</span></h5>
      <h5>Total Items: <span class="price">{{total_item}} Pieces</span></h5>
      
      <p>Order Date: {{order_details.order_created | date: "MMM dd, yyyy hh:mm a"}}</p>
      <p *ngIf="order_details.order_payment_type == '1'">Payment Type: Credit</p>
      <p *ngIf="order_details.order_payment_type == '2'">Payment Type: Cash</p>
      
      <p *ngIf="order_details.order_status == '0'">Status: Cancelled</p>
      <p *ngIf="order_details.order_status == '1'">Status: Pending</p>
      <p *ngIf="order_details.order_status == '2'">Status: Processing</p>
      <p *ngIf="order_details.order_status == '3'">Status: Delivered</p>
    </div>
    <h5 class="ex-bor">Order Items</h5>
    <div class="row product-box" *ngFor="let order_item of order_items">

      <div class="col-8 product-description">
        <h4>{{order_item.pro_name}}</h4>
        <p>Design ID: {{order_item.pro_design_num}}</p>
        <div class="price-details">
          <p class="qty-price">
            <strong> Qty:</strong> <span>{{order_item.oi_quantity}}</span>
          </p>
          <p>
            <strong>Price:</strong> <span>{{order_item.oi_old_price | currency:'INR':true:'1.2-2'}}/Piece</span>
          </p>
        </div>
      </div> 

      <div class="col-4 detail-btn">
        <img *ngIf="order_item.pro_image_name != null" src="http://phpstack-304562-945735.cloudwaysapps.com/crm/upload/gallery/{{order_item.pro_image_name}}" alt="{{order_item.pro_name}}" />
        <img *ngIf="order_item.pro_image_name == null" src="../../assets/images/no-image.jpeg" alt="{{order_item.pro_name}}" />
        <p class="total-price">
          <strong>Total Price:</strong> <span>{{order_item.oi_quantity * order_item.pro_qty_per_box * order_item.oi_old_price | currency:'INR':true:'1.2-2'}}</span>
        </p>
      </div>

    </div>

    <div padding>
      <button type="button" size="large" expand="block" class="btn cancel-btn" (click)="clickBack()">Back</button>
    </div>

  </div>
</ion-content>

