<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">

      <!-- <ion-header>
        <ion-toolbar>
          <ion-title class="manu-header"> 
            
          </ion-title>
        </ion-toolbar>
      </ion-header> -->

      <ion-content>
        <div class="user-details">
          <img src="../../assets/images/user.png" alt="" />
          <h4>{{sess_cust_name}}</h4>
          <p>{{sess_cust_phone}}</p>

          <ul class="manu-link">
            <li (click)="moveBrand()">Brands</li>
            <!-- <li>Account</li> -->
            <li (click)="moveCart()">Cart Details</li>
            <li (click)="moveEnquiry()">Enquiries</li>
            <li (click)="moveSettings()">Settings</li>
            <li (click)="moveProfile()">My Profile</li>
            <!-- <li>About Angel Group</li> -->
            <!-- <li>Contact Us</li> -->
            <li></li>
            <li></li>
            <li (click)="signOut()">Sign Out</li>
          </ul>
        </div>
      </ion-content>

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
