<ion-header>
  <ion-toolbar class="my-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Product Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="row product-box">
      <ion-slides *ngIf="allimages.length > 0" pager="true" [options]="slideOptsOne" #slideWithNav (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
        <ion-slide *ngFor="let image of allimages">
          <img class="slide-image" src="http://phpstack-304562-945735.cloudwaysapps.com/crm/upload/gallery/{{image}}" alt="" />
        </ion-slide>
      </ion-slides>

      <div class="col-12 product-description">
        <h4>{{product.pro_name}}</h4>
        <p>{{product.pro_description}} </p>
        <p>Design ID: {{product.pro_design_num}} </p>
        <p>Colors: {{product.pro_num_of_color}} </p>
        <p>Order Terms</p>
        <p>Minimum Order Quantity {{product.pro_min_order_box_qty}} Boxes</p>
        <p class="price">{{product_price | currency:'INR':true:'1.2-2'}}/Piece | Quantity Per Box: {{product.pro_qty_per_box}} Pieces</p>
        <h6>Total Quantity</h6>
        <div class="input-group plus-minus-input">
          <div *ngIf="check_cart == false" class="input-group-button">
            <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity" (click)="addQty('m', product.pro_min_order_box_qty)">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
          </div>

          <input *ngIf="check_cart == false" class="input-group-field" type="number" [(ngModel)]="quanty" disabled>
          <input *ngIf="check_cart" class="input-group-field" type="number" [(ngModel)]="quanty" disabled>

          <div *ngIf="check_cart == false" class="input-group-button">
            <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity" (click)="addQty('p', product.pro_min_order_box_qty)">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <!-- <h5 class="price"><span class="total-rate">Total Price:</span>  ₹{{product_price * qty_per_box* quanty}}</h5> -->
        <h5 class="price"><span class="total-rate">Total Price:</span>  {{product_price * qty_per_box* quanty | currency:'INR':true:'1.2-2'}}</h5>

        <div *ngIf="check_cart == false" class="edit" (click)="addToCart(product.pro_price_per_piece, product.pro_min_order_box_qty)">
          <span>Add To Cart</span>
        </div>
        <div *ngIf="check_cart" class="edit">
          <span>Already Added To Cart</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>