.product-box img{
    width: 100%;
    height: 300px;
}

.product-description p{
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
}
.price{
    color: #ff8a65;
}

.total-rate{
  color: #000000;
}
.edit{
    background: #ff8a65;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 30px;
    line-height: 3;
}
.edit span{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.plus-minus-input {
    align-items: center;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  
    .input-group-field {
        text-align: center;
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 0.1rem;
        width: 25%;
  
      &::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        appearance: none;
      }
    }
  
    .input-group-button {
      .circle {
        border-radius: 50%;
        padding: 0.25em 0.8em;
        color: #ff8a65;
      }
    }
  }