// -------manu css-------------

.my-toolbar{
    --background:  #ff8a65;
}

// ---------end manu css-----------

.brand{
    padding: 0;
    padding-top: 10px;
}

.brand img{
    border: 1px solid #ddd;
    margin: 10px 21px;
    width: 89%;
}